/* Profile.css */
.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;

  /* margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px; */
  background-color: #F0F0F5;
}
.welcome-message {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile h2 {
  margin-top: 10px;
}